<div ng-controller="CategoriasCtrl">
  <div class="row">
   Categorias
 </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <div class="col-xs-3 col-md-3 col-md-offset-3 col-xs-offset-3 text-center">
    <a ui-sref="preguntas({ Categoria: 'geografia' })" class="thumbnail">
      <img src="img/geografia.jpeg" alt="logo">
    </a>
  </div>
  <div class="col-xs-3 col-md-3 col-md-offset-3 col-xs-offset-3 text-center">
    <a ui-sref="preguntas({ Categoria: 'matematicas' })" class="thumbnail">
      <img src="img/matematicas.jpg" alt="logo">
    </a>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <div class="col-xs-3 col-md-3 col-md-offset-3 col-xs-offset-3 text-center">
    <a ui-sref="preguntas({ Categoria: 'cine' })" class="thumbnail">
      <img src="img/cine.jpg" alt="logo">
    </a>
  </div>
  <div class="col-xs-3 col-md-3 col-md-offset-3 col-xs-offset-3 text-center">
    <a ui-sref="preguntas({ Categoria: 'futbol' })" class="thumbnail">
      <img src="img/futbol.jpg" alt="logo">
    </a>
  </div>
  </div>
</div>