<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="alert-plugin"
    version="1.0">
    <name>Alert</name>
    <description>Alert Plugin</description>

    <js-module src="www/alert.js" name="Alert">
        <clobbers target="Alert" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Alert">
                <param name="android-package" value="co.com.ideaslab.Alert"/>
            </feature>
        </config-file>
        <source-file src="src/android/Alert.java" target-dir="src/co/com/ideaslab" />
     </platform>

     <!-- ios -->
      <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="Alert">
            <param name="ios-package" value="Alert" />
          </feature>
        </config-file>
        <header-file src="src/ios/Alert.h" />
        <source-file src="src/ios/Alert.m" />
      </platform>


</plugin>
